* {
  font-family: sans-serif;
}
h1 {
  background-color: rgb(226, 177, 114);
}

#top_bar {
  width: 100%;
  border: 1px;
  height: 52px;
  background: yellow;
}
#first_heading {
  width: 30%;
  font-size: 10px;
  float: left;
}
nav {
  height: auto;

  background-color: lawngreen;

  float: left;
}
h1 {
  background-color: brown;
  box-sizing: border-box;
  height: 52px;
  margin-top: 0px;
  padding-top: 15px;
}

nav ul {
  float: left;
}

.item {
  display: initial;
  margin-top: 12px;
}

body {
  margin: auto;
  width: 1024px;
}

footer {
  background-color: rgb(61, 42, 165);
  height: 35px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  margin: auto;
  width: 100%;
}
#second_heading {
  font-size: -webkit-xxx-large;
  margin-bottom: 5px;
  padding-bottom: 5px;
  height: 40px;
}
.article {
  text-align: justify;
  background-color: rgb(223, 228, 233);
  width: 60%;
  margin-left: 21px;
  margin-top: 3px;
  margin-bottom: 3px;
  float: left;
  width: 400px;
  height: 450px;
}

.sources {
  /* there is not any marker for list item */
  list-style-type: none;
}
/* header ul li means that the property is adopted on both header and items */

.more {
  background: rgb(107, 153, 95);
  width: 20%;
  border: 5px;
  float: right;
  height: 630px;
  margin-top: -630px;
  margin-right: 0px;
  margin-left: 0px;
}
#branches {
  margin-top: 179px;
  margin-left: 30px;
}
.main_contents {
  background-color: goldenrod;
  width: 80%;
  height: 630px;
  margin-top: -13px;
}

img {
  margin-left: 143px;
  width: 40%;
  height: 111px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.contents {
  text-align: justify;
  background-color: rgb(223, 228, 233);
  width: 45%;
  float: left;
  height: 450px;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
}

header {
  width: 100%;
  height: 25px;
}
.text {
  margin-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 2px;
}
#middle_text {
  box-sizing: content-box;
  border: 2px solid gray;
  text-align: center;
  width: 772px;

  margin-left: 23px;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 0px;
  background-color: lightgrey;
}
/*
program worked without clearfix!!! 
*/
